@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Assistant';
        src: url('../fonts/Assistant/static/Assistant-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Supermercado One';
        src: url('../fonts/Supermercado_One/SupermercadoOne-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Barrio';
        src: url('../fonts/Barrio/Barrio-Regular.ttf') format('truetype');
    }
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #d9dcd7;
    overflow-x: hidden;
    user-select: none;
    background-attachment: fixed;
}

.primary_input input:focus ~ label,
.primary_input input:valid ~ label {
    transform: translateY(-100%);
    left: 0;
    font-size: 14px;
    color: var(--blue_500);
}

.primary_input input:focus ~ .input_background,
.primary_input input:valid ~ .input_background {
    max-height: 30px;
}
